<html>
  <head><title>Test Page</title></head>
  <body>
    <input type="checkbox" name="agree" checked="checked">
    <input type="checkbox" name="subscribe">
    <input type="text" name="username" value="john">
    <input type="text" name="empty">
    <form id="testForm" name="testForm" method="post">
      <input type="text" name="field1" value="value1">
    </form>
    <div id="greeting">Hello World</div>
  </body>
</html>
