<html>
  <head><title>Test Page</title></head>
  <body>
    <h1>Test Page</h1>
    <input type="checkbox" name="exampleCheckbox" checked="checked" />
    <input type="text" name="exampleInput" value="Expected Value" />
  </body>
</html>
